body{
    color: #444444;
}
.body{
    min-height: 450px;
}
.primary{
    background: #0070ba !important;
    color:#ffffff !important;
}
.secondery{
    background: #2A2C43 !important;
    color:#ffffff !important;
}
.left{
    float:left !important;
}
input{
    color:#333333 !important;
    border-radius:5px !important;
}
button{
  border-radius:5px !important;
  padding: 10px !important;
  text-transform: capitalize !important;
  font-family: Arial, Helvetica, sans-serif !important;

}
.off-canvas{z-index: 1 !important}
h1,h2,h3, h4{
  font-weight: bold !important;
}
.right{
    float:right;
    
}
.list{
    margin-top:30px;
}
.list .columns{
    border-bottom:solid 1px #dedede;
    min-height: 90px;
}


